@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
section{
    margin: 0 auto;
    width: 100%;
    height: 80vh;
}
article{
    width: 100%;
    height: 80vh;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
p{
    line-height: 26px;
}
nav ul.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul.menu li {
    font-size: 16px;
}

nav ul.menu li:last-child {
    cursor: pointer;
}
.mobile-header{
    display: none;
}
.logo img {
    width: 180px;
    cursor: pointer;
}
header{
    position: fixed;
    top: 8%;
    width: 100%;
    transition: all 0.3s;
    z-index: 99;
    left: 50%;
    transform: translate(-50%,-50%);
}
.change{
    background-color: #fff;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.flex-center-reverse{
    flex-direction: row-reverse;
}
.flex-colomn{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0;
    /* display: flex;
    justify-content: center; */
    z-index: -1;
    left: 0;
    background-color: #f8f8f8;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
    /* max-width: 1400px; */
    margin: 0 auto;
    object-position: center;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.quotes{
    width: 100%;
    max-width: 720px;
}
.quotes p{
    font-weight: bold;
    font-style: italic;
}
.img-holder{
    --img-height:100%;
    position: relative;
    width: 50%;
    height:calc(var(--img-height) + 5rem) ;
}
.img-holder img{
    width: 100%;
    position: absolute;
    object-fit: cover;
    height: 100%;
}
.text-holder{
    width: 50%;
}
.contact-section{
    background-color: #F4CE14;
    padding: 100px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.contact-section > *{
    margin: 20px 0;
}
.contact-section p{
    font-size: 18px;
    width: 90%;
    max-width: 900px;
}
.contact-section button{
    background-color: #379777;
    padding: 15px 25px;
    transition: transform .3s;
    border: none;
    color: #fff;
}
.contact-section button:hover{
    transform: scale(1.1);
}
.box{
    width: 30.5%;
    height: 200px;
    cursor: pointer;
    margin: 5px;
    position: relative;
    overflow: hidden;
}
.box img{
    transition: transform .3s;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.box img:hover{
    transform: scale(1.1);
}
.imgs-holder{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row !important;
}

@media only screen and (max-width:1000px){
    .header{
        display: none;
    }
    .mobile-header{
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 99;
    }      
    .mobile-header i{
        font-size: 25px;
        z-index: 99;
        cursor: pointer;
        margin-left: 30px;
        color: #000;
        margin-top: 30px;
    }
    .mobile-header div:first-child{
        display: flex;
        position: relative;
        margin-left: -20px;
        margin-top: -20px;
        align-items: flex-start;
        justify-content: space-between;
        width: 100vw;
    }
    .mobile-menu{
        background-color:rgba(240, 240, 240, 0.98);
        width: 90%;
        color: #000;
        top: 0;
        left: -880px;
        padding: 30px;
        position: absolute;
        height: 100vh;
        padding-top: 140px;
        transition: all 0.4s;
        display: flex;
        flex-direction: column;
    }
    .barActive{
        left: 0px;
    }
    .mobile-menu li{
        position: relative;
        line-height: 100px;
        font-size: 24px;
    }
    .mobile-menu li::after{
        content: "";
        left: 0;
        position: absolute;
        bottom: 0;
        background-color: #ddd;
        width: 100%;
        height: 3px;
    }
    .mobile-menu li:last-child{
        margin-top: 30px;
    }
    .mobile-menu li:last-child::after{
        background-color: transparent;
    }
    .flex-center{
        flex-direction: column;
        width: 100%;
    }
    .flex-center div{
        width: 100%;
    }
    section{
        height: 100vh;
    }
    .img-holder{
        width: 100%;
        display: block;
        height: 400px;
    }
    .imgs-holder{
        width: 100%;
        overflow: hidden;
        margin-top: 100px;
        height: 400px;
    }
}
@media only screen and (max-width:600px){
    .banner{
        top: 0;
        height:70vh;
        width: 100%;
    }
    .first-child{
        margin-top: -350px;
    }
    .banner img {
        width: 100%;
        height: 100%;
        /* max-width: 1400px; */
        margin: 0 auto;
        object-position: center;
        position: absolute;
        z-index: -1;
    }
}
